body {
	margin: 0;
	padding: 0;
	background-color: #87C8DE;
	overflow: hidden;
}

body, button {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
	color: #222222;
}

button {
	padding: .25rem .5rem;
    background-color: #e5e5df;
    border: 1px solid #b5b5b0;
    border-radius: 3px;
    margin-bottom: 2rem;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}

#instructions {
	width: 30%;
	position: fixed;
	top: 10%;
	left: 20%;
	z-index: 10;
}

#fills polyline, #fills path, #names text {
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: easeInOutQuart;
    transition-duration: .3s;
    transition-timing-function: easeInOutQuart;
}

/*

svg #fills polyline, svg #fills path {
	display: none;
}

*/

.answered {
	fill: red;
}

svg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

#game-success, #game-failure, #input-box, #try-again, #timer, #prefectures-counter {
	display: none;
}

#names text {
	opacity: 0;
}

@media only screen and (max-width: 750px) {

#instructions {
	width: 100%;
	top: 2rem;
	left: 0;
}

}